<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AllTestsSuite" verbose="1" parallel="false">
    <test name="UI Functional Tests">
        <classes>
<!--            <class name="addRemoveElements.AddRemoveElementsTests"/>-->
<!--            <class name="alerts.AlertTests"/>-->
<!--            <class name="alerts.FileUploadTests"/>-->
            <class name="base.BaseTests"/>
            <class name="dropdown.DropdownTests"/>
<!--            <class name="frames.FrameTests"/>-->
<!--            <class name="hover.HoverTests"/>-->
<!--            <class name="javascript.JavaScriptTests"/>-->
<!--            <class name="keys.KeysTests"/>-->
            <class name="login.LoginTests"/>
<!--            <class name="navigation.NavigationTests"/>-->
<!--            <class name="wait.WaitTests"/>-->
        </classes>
    </test>
</suite>
